@import 'assets/styles';

.jokelist-container {
    display: flex;
    flex-direction: column;
    margin: 0 1rem;

    .list-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
        row-gap: 2vw;
        column-gap: 1vw;

        @media (min-width: $screen-md) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media (min-width: $screen-lg) {
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    .btn-view-more {
        position: relative;
        display: flex;
        align-items: center;
        padding: 1.8rem 6.4rem;
        margin: 0 auto;
        margin-top: 4vw;
        cursor: pointer;
        background-color: transparent;
        border: 0.1rem solid $gold;

        .text {
            color: $gold;
            text-transform: uppercase;
        }

        &.disabled {
            cursor: not-allowed;
            background-color: $grey;
        }
    }

    @media (min-width: $screen-md) {
        margin: 0;
    }
}
