@import 'assets/styles';

.categories-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1vw;
    margin-bottom: min(2vw, 4rem);

    .btn-category {
        padding: min(1.5vw, 1.8rem) 0;
        color: $white-two;
        text-transform: uppercase;
        cursor: pointer;
        border: 0.1rem solid $white-two;

        &.all {
            position: relative;
            color: $gold;
            border: 0.1rem solid $gold;
        }

        &:not(.all):hover {
            border: 0.1rem solid $black;
        }
    }

    @media (min-width: $screen-md) {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: $screen-lg) {
        grid-template-columns: repeat(5, minmax(0, 1fr));
    }
}
