.icon {
    position: absolute;
    transition: all 0.1s ease;
    transition-property: right, transform;

    &.right {
        right: 1rem;
    }

    &.down {
        right: 2rem;
        transform: translateY(0);
    }
}

[class^='btn-']:hover .icon {
    &.right {
        right: 0.5rem;
    }

    &.down {
        transform: translateY(15%);
    }
}
