@import 'assets/styles';

.joke-card {
    @include border-shadow;

    display: flex;
    flex-direction: column;
    padding: 1.6rem;
    background-color: white;

    .title-container {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .icon {
            margin-right: 1rem;
        }

        .title {
            font-size: 2rem;
            font-weight: bold;
        }
    }

    .btn-stats {
        position: relative;
        display: flex;
        align-items: center;
        margin-top: auto;
        margin-left: auto;
        font-size: 1.8rem;
        cursor: pointer;
        background-color: transparent;
        border: none;

        .text {
            margin-right: 4rem;
            color: $gold;
            text-transform: uppercase;
        }
    }
}
