@import 'assets/styles';

.detail-container {
    margin: 0 1rem;

    .detail-card {
        @include card;

        min-height: 28rem;

        .header {
            display: flex;
            align-items: center;
            margin-bottom: min(1.5vw, 1.5rem);
            text-transform: uppercase;

            .trending-tag {
                display: flex;
                align-items: center;
                margin-left: auto;

                .text {
                    margin-left: 0.5rem;
                    font-weight: 600;
                    color: $pale-orange;
                }

                .dot {
                    @include dot;

                    background-color: $pale-orange;
                }
            }
        }

        .title-container {
            display: flex;
            align-items: flex-end;
            margin-bottom: min(2vw, 2rem);
            font-weight: 600;
            color: $gold;

            .title {
                width: max-content;
                font-size: 2rem;
                line-height: 0.8;
                text-transform: capitalize;

                @media (min-width: $screen-md) {
                    font-size: 4rem;
                }
            }

            .line {
                flex-grow: 1;
                margin: 0 1.2rem;
                border-bottom: 0.2rem solid $gold;
            }

            .ranking {
                min-width: 10%;
                padding: 0;
                margin: 0;
                line-height: 0.8;
                text-transform: uppercase;

                @media (min-width: $screen-md) {
                    font-size: 1.6rem;
                }
            }
        }
    }

    .reaction-container {
        display: flex;
        gap: 3rem;
        margin: 1.5rem;

        .btn-react {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1rem;
            text-align: center;
            cursor: pointer;
            border: 0.1rem solid transparent;
            border-radius: 50%;

            &.like {
                color: $weird-green;
                background-color: $weird-green;
            }

            &.dislike {
                color: $weird-red;
                background-color: $weird-red;
            }

            .react-icon {
                transition: transform 0.1s ease;
            }

            &:hover {
                & .react-icon.like {
                    transform: translate3d(0, -15%, 0);
                }

                & .react-icon.dislike {
                    transform: translate3d(0, 15%, 0);
                }
            }

            .count {
                position: absolute;
                bottom: 0;
                transform: translate3d(0, 150%, 0);
            }
        }
    }

    @media (min-width: $screen-md) {
        margin: 0;
    }
}
