// Screen sizes ---------------------------------------------------------------
// em is the only unit that performed consistently for media queries
$screen-xs: 32em;
$screen-sm: 40em;
$screen-md: 48em;
$screen-lg: 64em;
$screen-xl: 80em;
$screen-xxl: 96em;

// Colors ---------------------------------------------------------------------
$gold: #cfb995;
$white: #f9f9f9;
$white-two: #fff;
$white-three: #ecebe9;
$black: #303030;
$grey: #999;
$light-grey: #e2e2e2;
$pale-orange: #ffbe5b;
$pastel-orange: #ff915b;
$weird-green: #57e690;
$weird-red: #ff5b5b;

// Shorthands -----------------------------------------------------------------
$filter-white: brightness(0) invert(1);
