@import 'index';

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    font-family: Monsterrat, sans-serif;
    font-size: 1.6rem;
    background-color: $white-three;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a {
    text-decoration: none;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
    min-height: 80rem;
    margin: min(3vw, 3rem) 0;

    &::after {
        display: block;
        height: 200px;
        content: '';
    }
}

.container {
    width: 100%;
    margin: auto;

    // Small
    @media (min-width: $screen-xs) {
        width: 54rem;
    }

    // Medium
    @media (min-width: $screen-md) {
        width: 72rem;
    }

    // large
    @media (min-width: $screen-lg) {
        width: 96rem;
    }

    // Extra Large
    @media (min-width: $screen-xl) {
        width: 114rem;
    }

    // Extra Extra Large
    @media (min-width: $screen-xxl) {
        width: 132rem;
    }
}

.info-container {
    padding-top: 5rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: $black;
    text-align: center;
}
